#menu-1{
    font-size: 15px;
    margin: 10px ;
     height: 20px;
     width: 100px;
     text-align: center;
     background-color: black;
     border-radius: 5px;
     border: 1px solid rgb(149, 149, 253);
     margin-left: 305px;
     display: inline-block;
    
}
#menu-2{
    font-size: 15px;
    margin: 10px ;
     height: 20px;
     width: 100px;
     text-align: center;
     background-color: black;
     border-radius: 5px;
     border: 1px solid rgb(149, 149, 253);
     margin-left: 0px;
     display: inline-block;

}
#menu-3{
    font-size: 15px;
    margin: 10px ;
     height: 20px;
     width: 100px;
     text-align: center;
     background-color: black;
     border-radius: 5px;
     border: 1px solid rgb(149, 149, 253);
     margin-left: 0px;
     display: inline-block;
     
}
#menu-4{
    font-size: 15px;
    margin: 10px ;
     height: 20px;
     width: 100px;
     text-align: center;
     background-color: black;
     border-radius: 5px;
     border: 1px solid rgb(149, 149, 253);
     margin-left: 0px;
     display: inline-block;
 
}
#menu-5{
    font-size: 15px;
    margin: 10px ;
     height: 20px;
     width: 105px;
     text-align: center;
     background-color: black;
     border-radius: 5px;
     border: 1px solid rgb(149, 149, 253);
     margin-left: 0px;
     display: inline-block;

}
#menu-6{
    font-size: 15px;
    margin: 10px ;
     height: 20px;
     width: 100px;
     text-align: center;
     background-color: black;
     border-radius: 5px;
     border: 1px solid rgb(149, 149, 253);
     margin-left: 0px;
     display: inline-block;
 
}
#menu-7{
    font-size: 15px;
    margin: 10px ;
     height: 20px;
     width: 100px;
     text-align: center;
     background-color: black;
     border-radius: 5px;
     border: 1px solid rgb(149, 149, 253);
     margin-left: 0px;
     display: inline-block;
 
}
 
