#embed{
    margin-left: 45px;
}
#embed-1{
    border: solid rgb(46, 45, 45);
    margin-left: 45px ;
    margin-top: 15px;
    height: 240px;
    width: 360px;
    background-color: rgb(46, 45, 45);
    border-radius: 10px;
    color: ivory;
    display: inline-block;
    
}
#embed-2{
    border: solid rgb(46, 45, 45);
    margin-left: 45px ;
    margin-top: 15px;
    height: 240px;
    width: 360px;
    background-color: rgb(46, 45, 45);
    border-radius: 10px;
    color: ivory;
    display: inline-block;
    
}

#embed-premium {
    border: solid rgb(46, 45, 45);
    margin-left: 160px ;
    margin-top: 80px;
    height: 550px;
    width: 420px;
    background-color: rgb(46, 45, 45);
    border-radius: 10px;
    color: ivory;
    display: inline-block;
}


#embed-premium-1 {
    border: solid rgb(46, 45, 45);
    margin-left: 160px ;
    margin-top: 80px;
    height: 550px;
    width: 420px;
    background-color: rgb(46, 45, 45);
    border-radius: 10px;
    color: ivory;
    display: inline-block;
}


#embed-premium-2 {
    border: solid rgb(46, 45, 45);
    margin-left: 160px ;
    margin-top: 80px;
    height: 550px;
    width: 420px;
    background-color: rgb(46, 45, 45);
    border-radius: 10px;
    color: ivory;
    display: inline-block;
}


#embed-premium-3 {
    border: solid rgb(46, 45, 45);
    margin-left: 160px ;
    margin-top: 60px;
    height: 550px;
    width: 420px;
    background-color: rgb(46, 45, 45);
    border-radius: 10px;
    color: ivory;
    display: inline-block;
}


#embed-premium-4 {
    border: solid rgb(46, 45, 45);
    margin-left: 160px ;
    margin-top: 60px;
    height: 550px;
    width: 420px;
    background-color: rgb(46, 45, 45);
    border-radius: 10px;
    color: ivory;
    display: inline-block;
}


#embed-premium-5 {
    border: solid rgb(46, 45, 45);
    margin-left: 160px ;
    margin-top: 60px;
    height: 550px;
    width: 420px;
    background-color: rgb(46, 45, 45);
    border-radius: 10px;
    color: ivory;
    display: inline-block;
}
